 body{
        background:whitesmoke;
    }
   #menu{
    max-width: 100%;
    background-color: #121264;
    padding: 25px;
   }

   #menu a{
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    margin: 30px 30px;
    text-decoration: none;
    color: aqua;
    padding: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 15px;
   }
   

   #menu a:hover{
    cursor: pointer;
    color: aliceblue;
   }
   
   h1{
    color: #121264;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    max-width: 100%;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 15px;
    
   }
   h1:hover{
    cursor: pointer;
    color: #121264;
    background-color: white;
    opacity: 100ems;
   }

   #skills h1{
    list-style-position: unset;
   }
   

   .home{
    text-align: center;
    background-color: #ffffff99;
    color: #060667;
    max-width: 100%;
    margin: 40px 30px;
    border-radius: 15px;
   }
   #topic h1{
    background-color: azure;
    font-weight: 700;
    font-family: monospace;
   }
   p{
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
   }
   a{
    text-decoration: none;
   }
   #about{
    text-align: center;
    max-width: 100%;
    margin: 40px auto;
   }
   #about h1{
    background-color: white;
    font-weight: 700;
    font-family: monospace;
   }

   #about p{
   
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

    
   }
   #about ul{
    list-style-type: circle;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
   }

   

